<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sweetDreams.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A1D61FA4E3F1725EE18CFE4165ADF1DD71DDEA87</string>
				<key>dateExpires</key>
				<string>07/02/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1D61FA4E3F1725EE18CFE4165ADF1DD71DDEA87</string>
						<key>dateExpires</key>
						<string>07/02/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SR3JMN87D2</string>
						<key>name</key>
						<string>Anthony Ruelas</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SR3JMN87D2.com.appsnado.demo</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>SR3JMN87D2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>sweetDreams.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7e4d2124-77e2-40fd-b484-d03fc734a1cf</string>
				<key>dateExpires</key>
				<string>07/11/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.appsnado.demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SR3JMN87D2</string>
				<key>name</key>
				<string>Anthony Ruelas</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
